.scroll {
  position: fixed;
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#centerText {
  text-align: center;
  width: 100%;
}

.title {
  font-size: 5rem;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: 3rem;
}

.visible {
  opacity: 1;
}

.silluoette {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgba(64, 64, 64, 0.7), rgba(0, 0, 0, 0.7));
  pointer-events: none;
}

.class {
  z-index: 100;
}

model-viewer {
  /* background-color: blue; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -00;
}
