footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: var(--black);
  color: var(--cream);
  padding: 20px;
  padding-right: 10px;
  justify-content: space-between;
  margin-top: 10px;
}
.sitemap ul {
  padding-top: 5px;
  /* moves links left a bit */
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

footer a {
  font-size: 18px;
}

.sitemap-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  row-gap: 1rem;
}

.footer-right {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  /* grid-gap: 1rem; */
  /* max-height: 100px; */
  /* padding-top: 10px; */
  /* padding-left: 10px; */
}

.footer-right > * {
  /* margin: 0 10px; */
}

.footer-right ul {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  row-gap: 10px;
}

.float-left {
  float: left;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.footer-logo-link {
  height: 100%;
  width: auto;
}

footer li {
  width: fit-content;
}
