/* for ian */
#banner {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* width: min(80%, calc(80% - 40vw)); */
  width: 80%;
  height: auto;
  margin-left: calc(40vw);
}
.hero {
  grid-column: 1 / span 3;
  background: black;
  overflow: hidden;
}
.hero-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
