.hero-container {
  grid-column: 1 / span 3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
}

.hero-container video {
  pointer-events: none;
  height: 900px;
  position: relative;
  transform: translateX(25%);
  right: -15%;
  object-fit: cover;
}

.hero {
  position: absolute;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hero h1 {
  font-size: 7rem;
}

@media only screen and (max-width: 1638px) {
  .hero-container video {
    transform: translate(-20%);
  }
  .hero {
    width: 100%;
  }
}
@media only screen and (max-width: 867px) {
  .hero-container video {
    transform: translate(-35%);
  }
  .hero h1 {
    font-size: 4rem;
  }
}

.hero h2 {
  font-size: 2rem;
}

.hero a {
  font-size: 2rem;
}

.hero-flex {
  margin-top: 10px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
}

.hero-flex a {
  color: var(--street-yellow);
}

.top-block {
  position: relative;
  padding-top: 50px;
  color: #f4f3ee;
}

.block-content {
  position: absolute;
  /* top: 0px; */
  bottom: 13rem;
  right: -5rem;
  font-size: 3rem;
  padding: 1.5rem;
}

.top-block-content * {
  position: relative;
  z-index: 1;
}

.top-block-content h1 {
  font-size: 5rem;
  text-align: center;
}

.top-block-img {
  /* max-height: 500px; */
  width: 90vw;
  flex-grow: 1;
  /* position: relative;
  top: -100px;
  left: 100px; */
}

.block-img-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .right-block {
    grid: auto 1fr/1fr;
  }
  .block-content h1 {
    font-size: 3rem;
  }
  .block-content {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .hero h1 {
    font-size: 5rem;
  }
}
