@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@900&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #212529;
  --grey: #adb5bd;
  --steel-blue: #53a5e9;
  --cream: #f5f5f5;
  /* CSS HEX */
  /* from coolors.co */
  --flickr-pink: #f72585ff;
  --pink: #ff4d79ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultra-blue: #4361eeff;
  --blue: #4895efff;
  --vivid-blue: #4cc9f0ff;
}

h1,
h2,
p {
  font-family: 'Mulish', sans-serif;
}

a {
  font-family: 'Staatliches', cursive;
  text-decoration: none;
  float: left;
  clear: left;
  transition: all 0.3s ease 0s;
  color: var(--pink);
}

a:hover {
  color: var(--flickr-pink);
}

a:active {
  color: var(--byzantine);
}

button {
  border-style: none;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid var(--byzantine);
  padding: 0;
}

ul {
  list-style-type: none;
}
