.TitleM{
    font-size: 5rem;
    margin-bottom: 4vh;
    text-align: center;
    color:#C67B5C;
}
.HeaderM{
    color:#C67B5C;
}
.stuffM{
    color: #E27B58;
}
.optionsM{
    color:#C67B5C;
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-align: center;
    font-size: 3rem;
}
