.Title {
    font-size: 5rem;
    margin-bottom: 4vh;
    text-align: center;
}

.options {
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-align: center;
    font-size: 3rem;
}

h1{
    color: #C67B5C;
}
h2{
    color: #E27B58;

}
