nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  min-height: 8vh;
  padding: 1rem;
  background-color: transparent;
}

.nav-links {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  font-size: 2rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1024px) {
  .nav-links li {
    padding: 1.5rem;
  }
}

.sidebar-links {
  list-style: none;
  font-size: 2rem;
  padding: 2rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar {
  z-index: 200;
  background: var(--black);
  transform: translate(100vw, calc(-100px - 2rem - 1px));
  position: fixed;
  height: 101%;
  opacity: 0;
  width: calc(30vw - 36px - 2rem);
  /* to avoid repainting only use transform and opacity */
  transition: transform 0.5s, opacity 0.5s linear;
}

.sidebar.active {
  opacity: 1;
  transform: translate(70vw, calc(-100px - 2rem - 1px));
}

.sidecover {
  position: fixed;
  transform: translate(calc(100vw), calc(-100px - 2rem - 1px));
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s linear;
  transition-delay: 50ms;
  z-index: -100;
  width: calc(36px + 2rem + 1px);
  height: 101%;
  background: var(--black);
}

.sidecover.sidecover-active {
  opacity: 1;
  transform: translate(
    calc(100vw - 36px - 2rem - 1px),
    calc(-100px - 2rem - 1px)
  );
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    width: calc(40vw - 36px - 2rem);
  }
  .sidebar.active {
    transform: translate(60vw, calc(-100px - 2rem));
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: calc(50vw - 36px - 2rem);
  }
  .sidebar.active {
    transform: translate(50vw, calc(-100px - 2rem));
  }
}

.logo {
  max-height: 100%;
  max-width: 100%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.logo-link {
  height: 100%;
  width: auto;
}

.tint {
  position: fixed;
  transform: translate(120vw, calc(-100px - 2rem - 1px));
  background: var(--black);
  height: 120vh;
  width: 70vw;
  opacity: 0;
  z-index: 100;
  transition: transform 0.7s, opacity 0.5s ease-in-out;
}

.tint.active-tint {
  transform: translate(0, calc(-100px - 2rem - 1px));
  opacity: 0.7;
}

.burger {
  transition: transform 0.5s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.burger div {
  transition: background-color 0.5s, opacity 0.5s, transform 0.5s ease-in-out;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--black);
  margin: 5px;
}

.burger.active-burger div {
  background-color: var(--pink);
}

.burger.active-burger .line1 {
  transform: translateY(6px) rotate(135deg);
}

.burger.active-burger .line2 {
  transform: translateX(-30px) scale(0);
}

.burger.active-burger .line3 {
  transform: translateY(-7px) rotate(-135deg);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
