.scrollToTop {
  opacity: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: var(--blue);
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
}
.scrollToTop.visible {
  opacity: 1;
}
.scrollToTop svg {
  height: 100%;
  width: 100%;
  margin-bottom: 3px;
  cursor: auto;
  color: var(--cream);
}
.scrollToTop.visible svg {
  cursor: pointer;
}
