.accordion {
  background-color: var(--cream);
}

.accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.accordion-title > * {
  user-select: none;
}

.accordion-title span {
  font-size: 25px;
}

.accordion-content {
  background-color: white;
  display: block;
  overflow: hidden;
  transition: height 0.5s ease;
}

.accordion-content * {
  user-select: none;
}

.accordion-content .padder {
  padding: 10px;
}

.accordion-content p {
  display: inline;
}
