.TitleT{
    font-size: 5rem;
    margin-bottom: 4vh;
    text-align: center;
    color:#b8a879;
}
.HeaderT{
    color:#b8a879;
}
.stuffT{
    color: #e3d29f;
}
.optionsT{
    color:#b8a879;
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-align: center;
    font-size: 3rem;
}

